################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MSHB.ExperienceManagement/v15
/.vs
/src
