################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Presentation/MSHB.ExperienceManagement.Presentation.WebUI/wwwroot
